body{
    
    background-image: url("wallpaperflare.com_wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.new{
    margin-top: 3px;
    margin-left: 30%;
    display:block;
    height: 60px;
}

ul{
    list-style-type: none;
    margin-right: 30%;
    
}

li{
    float: right;
    font-size: 17px;
}

li a{
    text-decoration: none;
    color: black;
    padding: 14px 16px;

}

li a:hover{
    background-color: rgb(121 85 72 / 38%);
    border-radius: 10px;

}

.neww{
    display: flex;
    align-items: center;
}

.new1{
    margin-left: 8%;
    display: inline-block;
    color: white;
    font-size: 100px;
    
}

.new2{
    display: inline-block;
}

img{
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 50%;
}

.new3{
    margin-top: 2%;
    margin-left: 30%;
    color: white;
    font-size: 10px;
}

button{
    height: 44px;
    width: 30%;
    color: black;
    background-color: #8f5e4d4f;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover{
    background-color: #f840024f;
}






